---
---
<div class="hero__content">
  <div class="current-info">
    <p id="current-time-display">--:--:--</p>
    <p id="current-date-display">---, -- --- ----</p>
    <p id="hijri-date-display">-- ---- ---- H</p>
  </div>
  <p class="eyebrow">Jadwal Sholat Indonesia</p>
  <h1 id="app-title">Menuju Waktu Sholat</h1>
  <p class="lede" id="location-label">Memuat jadwal Kab. Gresik...</p>
</div>
